body
{
  background-color:#70d6ff
}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color: #f1c0e8;
  border-radius: 25px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(51, 159, 178, 0.44);
  overflow:hidden;
  color:rgb(24, 21, 21);
  font-family:'Roboto';
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{

  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  font-size:30px;
  margin:0;
  text-shadow: 2px 2px 10px rgba(236, 230, 230, 0.906);
  color:rgb(235, 230, 230);
  
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
 .tile p    /*crd color */
{
  font-weight:300;
  font-size: 20px;
  color:	rgb(20, 9, 11);
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
box-shadow: 0px 35px 77px -17px rgba(11, 8, 8, 0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}